.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px #ccc;
  color: #fff;
}
.navbar-brand img {
  width: 50px;
  height: auto;
  margin-right: 10px;  
  max-width: 80px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.navbar-brand:hover {
  transform: scale(1.03);
}


.navbar-brand:hover img {
  filter: grayscale(0%);
}

body {
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url('/static/image/painting.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px #ccc;
  margin-top: 200px;
}

.jumbotron p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px #ccc;
  margin-top: 20px;
}

.image-center {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.image-container {
    border: 1px solid rgb(228, 228, 228);
    font-size: 12px;
    width: 440px;
    height: 460px;
    padding : 20px;
    padding-top: 10px;
    margin: 20px;
    float: left;
}

.row {
    display: flex;
    flex-direction: row;
}

@media (max-width: 992px) {
    .box {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .box {
      width: calc(100% - 20px);
    }
  }

.image-description {
    text-align: center;
}

footer {
    width: 100%;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    background-color: rgb(243, 243, 243);
}

.close-btn {
    position: absolute;
    display:inline-block;
    *display:inline;
    text-align:left;
    align-items: center
    

}


.close1:after {content: "\00d7"; font-size:20pt}
.close2:after {content: "\00d7"; font-size:25pt;line-height:45px;}
.close3:after {content: "\00d7"; font-size:50pt;line-height:35px;}
